<a href="https://colab.research.google.com/github/ArghoDutta/PythonProgramsUsingColab/blob/main/All_Important_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''1)Print the square pattern of size n:
                           Ex:-n=5 *****
                                   *****
                                   *****
                                   *****
                                   ***** '''
n=int(input("enter the value of n="))
for i in range(1,n+1):
  for j in range(1,n+1):
    print("*",end="")
  print(" ")

enter the value of n=5
*****
*****
*****
*****
*****

In [ ]:
'''2)Print a right-angled triangle pattern: *
                                            **
                   For n=5                  ***
                                            ****
                                            ***** '''
n=int(input("Enter the value of n="))
for i in range (1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print("")

Enter the value of n=5
*
**
***
****
*****

In [ ]:
'''3)Print an inverted right-angled triangle pattern:
                For n=5       *****
                              ****
                              ***
                              **
                              *   '''
n=int(input("Enter the value of n="))
for i in range(1,n+1):
  for j in range(0,((n+1)-i)):
    print("*",end="")
  print("")

Enter the value of n=5
*****
****
***
**
*

In [ ]:
'''4)Print  pyramid Pattern:     *
                                ***
                               *****
                              *******'''
n=int(input("Enter the value of n="))
for i in range (1,n+1):
  for j in range(0,n-i):
    print(" ",end="")
  for k in range(0,((2*i)-1)):
    print("*",end="")
  print(" ")

Enter the value of n=5
    *
   ***
  *****
 *******
*********

In [ ]:
'''5)Print a hollow square pattern *****
                                   *   *
                                   *   *
                                   *   *
                                   ***** '''
n=int(input("Enter the number of rows="))
for i in range(0,n):
  for j in range(0,n):
    if(i==0 or i==(n-1) or j==0 or j==(n-1)):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

Enter the number of rows=5
*****
*   *
*   *
*   *
*****

In [ ]:
'''6)Print a diamond pattern:         *
                                     ***
                                    *****
                                   *******
                                    *****
                                     ***
                                      *   '''
n=int(input("Enter the value of n="))
for i in range (1,int(n/2)+2):
  for j in range(0,int((n/2)+2)-i):
    print(" ",end="")
  for k in range(0,((2*i)-1)):
    print("*",end="")
  print(" ")
for i in range (1,int(n/2)+1):
  for j in range(1,i+2):
    print(" ",end="")
  for k in range(0,(((int(n/2)+1)-i)*2)-1):
    print("*",end="")
  print("")

Enter the value of n=7
    *
   ***
  *****
 *******
  *****
   ***
    *

In [5]:
'''7) Print the hollow diamond pattern:             *
                                                  *   *
                                                *       *
                                              *           *
                                            *               *
                                              *           *
                                                *       *
                                                  *   *
                                                    *      '''
def print_hollow_diamond(n):
    # Print the upper part of the diamond
    for i in range(n):
        # Print leading spaces
        print(' ' * (n - i - 1), end='')
        # Print the first star
        print('*', end='')
        # Print spaces between stars
        if i > 0:
            print(' ' * (2 * i - 1), end='')
            # Print the second star
            print('*', end='')
        # Move to the next line
        print()

    # Print the lower part of the diamond
    for i in range(n - 2, -1, -1):
        # Print leading spaces
        print(' ' * (n - i - 1), end='')
        # Print the first star
        print('*', end='')
        # Print spaces between stars
        if i > 0:
            print(' ' * (2 * i - 1), end='')
            # Print the second star
            print('*', end='')
        # Move to the next line
        print()

# Specify the number of lines for the upper part of the diamond (including the middle line)
n = 5
print_hollow_diamond(n)

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [7]:
'''8) Print a hollow pyramid pattern:     *
                                         * *
                                        *   *
                                       *     *
                                      ********* '''
n=int(input("Enter number of rows="))
for i in range(0,n):
  for j in range(0,(n-1)*2+1):
    if(i+j==4 or i==4 or j-i==4):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

Enter number of rows=5
    *
   * *
  *   *
 *     *
*********

In [9]:
'''9)Print a hollow half pyramid pattern: *
                                          **
                                          * *
                                          *  *
                                          *   * '''
n=int(input("Enter the number of rows="))
for i in range(0,n):
  for j in range (0,i+1):
    if(j==0 or j==i):
      print("*",end="")
    else:
      print(" ",end="")
  print(" ")

Enter the number of rows=5
*
**
* *
*  *
*   *

In [16]:
'''10)Print an inverted pyramid pattern:
                                  *******
                                   *****
                                    ***
                                     * '''
n=int(input("Enter the number of rows="))
for i in range (1,n+1):
  for j in range(0,i):
    print(" ",end="")
  for k in range(1,((n+1)-i)*2):
    print("*",end="")
  print(" ")

Enter the number of rows=4
 *******
  *****
   ***
    *

In [18]:
'''11)Print an inverted hollow pyramid pattern:
                                       *********
                                        *     *
                                         *   *
                                          * *
                                           *   '''
n=int(input("Enter number of rows="))
for i in range(0,n):
  for j in range(0,((n-1)*2+1)):
    if(i==0 or j==i or (j+i==(n-1)*2)):
      print("*",end="")
    else:
      print(" ",end="")
  print(" ")

Enter number of rows=5
*********
 *     *
  *   *
   * *
    *

In [19]:
'''12)Print a number pattern:
                                 1
                                 22
                                 333
                                 4444
                                 55555 '''
n=int(input("Enter the number of rows="))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end="")
  print(" ")

Enter the number of rows=5
1
22
333
4444
55555

In [23]:
''' 13) Print a mirrored right angled triangle pattern:
                                                    *
                                                   **
                                                  ***
                                                 ****
                                                ***** '''
n=int(input("Enter number  of rows="))
for i in range(1,n+1):
  for j in range(0,n-i):
    print(" ",end="")
  for k in range(0,i):
    print("*",end="")
  print(" ")

Enter number  of rows=5
    *
   **
  ***
 ****
*****

In [28]:
''' 14)Print a butterfly pattern:
                                   *      *
                                   **    **
                                   ***  ***
                                   ********
                                   ********
                                   ***  ***
                                   **    **
                                   *      * '''
n=int(input("Enter number of rows="))
for i in range(1,int(n/2)):
  for j in range(0,i):
    print("*",end="")
  for k in range(0,int(n/2-i)*2):
    print(" ",end="")
  for l in range(0,i):
    print("*",end="")
  print(" ")
for i in range(0,n):
  print("*",end="")
print(" ")
for i in range(0,n):
  print("*",end="")
print(" ")
for i in range(1,int(n/2)):
  for j in range(0,int(n/2-i)):
    print("*",end="")
  for k in range(0,i*2):
    print(" ",end="")
  for l in range(0,int(n/2-i)):
    print("*",end="")
  print(" ")

Enter number of rows=8
*      *
**    **
***  ***
********
********
***  ***
**    **
*      *

In [37]:
''' 15) Print an arrow pattern:
                                            *
                                           ***
                                          *****
                                         *******
                                        *********
                                          *****
                                          *****
                                          *****  '''
n=int(input("Enter the  number of rows="))
for i in range(1,n+1):
  for j in range(0,n-i):
    print(" ",end="")
  for k in range(0,((i*2)-1)):
    print("*",end="")
  print(" ")
for i in range(0,n-2):
  for k in range(0,n-3):
    print(" ",end="")
  for j in range(0,n):
    print("*",end="")
  print(" ")

Enter the  number of rows=5
    *
   ***
  *****
 *******
*********
  *****
  *****
  *****

In [38]:
''' 16)Print a cross pattern:
                                *   *
                                 * *
                                  *
                                 * *
                                *   *  '''
n=int(input("Enter number of rows="))
for i in range(0,n):
  for j in range(0,n):
    if(i==j or i+j==n-1):
      print("*",end="")
    else:
      print(" ",end="")
  print(" ")

Enter number of rows=5
*   *
 * *
  *
 * *
*   *

In [48]:
''' 17)Print a heart pattern:
                                ***  ***
                               ***** ****
                              ************
                               **********
                                ********
                                 ******
                                   ***
                                    *  '''
n=int(input("Enter the number of rows="))
for i in range(1,int(n/2)):
  for j in range(0,(i*2)+1):
    if(i==1 and j==0):
      print(" ",end="")
    else:
      print("*",end="")
  for k in range(0,int(n/2-i)):
    print(" ",end="")
  for l in range(0,(i*2)+1):
    print("*",end="")
  print(" ")
for i in range(1,n-1):
  for j in range(0,i):
    print(" ",end="")
  for k in range(1,(n-1-i)*2):
    print("*",end="")
  print(" ")

Enter the number of rows=7
 **  ***
***** *****
 *********
  *******
   *****
    ***
     *